# Hyperparameter Tuning via Scikit-Learn

### Loading Libraries

In [3]:
# Numerical Computing
import numpy as np

# Data Manipulation
import pandas as pd

# Data Visualization
import matplotlib.pyplot as plt

# Scikit-Learn
from sklearn.metrics import f1_score
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV

### Loading Data

In [6]:
df = pd.read_csv("/Users/joaquinromero/Desktop/HPTP/data/train.csv", sep=";")

In [7]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [14]:
df_train, df_test = train_test_split(df,
                                     test_size=0.1,
                                     random_state=0)

#### Placing & Gathering Numerical Features

In [15]:
# X_train_numerical = df_train.select_dtypes(include=np.number).drop(columns=["y"])
X_train_numerical = df_train.select_dtypes(include=np.number)

y_train = df_train['y']

In [16]:
# X_test_numerical = df_test.select_dtypes(include=np.number).drop(columns=["y"])
X_test_numerical = df_test.select_dtypes(include=np.number)

y_test = df_test['y']

#### Fitting Model on Training Data: