# Evaluating Machine Learning Models

### Loading Libraries

In [1]:
# Numerical Computing 
import numpy as pn

# Data Manipulation
import pandas as pd

# Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Scikit-Learn
from sklearn.datasets import load_iris
from sklearn.model_selection import LeavePOut
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold

### Retrieving Data

In [2]:
def get_iris_data():
    '''Get Iris Data from Scikit-Learn Toy Datasets
    and store it in a Pandas DataFrame'''
    
    iris = load_iris()
    df = pd.DataFrame(iris['data'],columns=iris['feature_names'])
    df['class'] = iris['target']
    return df


def get_data_summary(df):
    '''Generate important summary information of a given
    Pandas DataFrame'''
    
    print("========== Summary Info ==========")
    display(df.info())
    print("\n========== Class Proportion ==========\n")
    display(df['class'].value_counts(True))
    print("\n=======================================")
    display(df)

In [3]:
df = get_iris_data()

In [4]:
get_data_summary(df)

========== Summary Info ==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   class              150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

None

========== Class Proportion ==========

class
0    0.333333
1    0.333333
2    0.333333
Name: proportion, dtype: float64

=======================================

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## Random vs Stratified Split

### Random Split